<header role="banner" class="transparent light">
      <div class="row">
        <div class="nav-inner row-content buffer-left buffer-right even clear-after">
          <div id="brand">
            <h1 class="reset"><!--<img src="img/logo.png" alt="logo">--><a href="{{ site.url }}/">{{ site.title }}</a></h1>
          </div><!-- brand -->
          <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
          <nav>
            <ul class="reset" role="navigation">
              <li class="menu-item">
                <a href="{{ site.url }}/">Home</a>
              </li>
              <li class="menu-item">
                <a href="{{site_url}}/blog">Blog</a>
              </li>
              <li class="menu-item">
                <a href="{{site_url}}/resume">Resume</a>
              </li>
              <li class="menu-item">
                <a href="{{site_url}}/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div><!-- row-content -->
      </div><!-- row -->
    </header>