<div class="meta-social">
  <ul class="inline center">
    <li><a href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.owner.twitter }}" class="twitter-share border-box" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}" class="facebook-share border-box" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li><a href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url }}" class="pinterest-share border-box" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
  </ul>
</div>